* {
    margin: 0;
    height: auto;
    font-family: sans-serif;
    color: grey;
}
body {
    margin: 0 20px;
}
p {
    line-height: 27px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}


/*************** 
FIRST SECTION 
****************/
.main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.main-img {
    width: 90vw;
    margin: 0 auto;
}

.main h1 {
    font-weight: 800;
    font-size: 40px;
    margin-top: 15px;
    color: black;
}
.main p {
    margin-top: 15px;
    font-weight: 100;
    font-size: 16px;
}
.main button {
    background-color: rgb(224, 120, 50);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 16px;
    font-size: 16px;
}


/*************** 
SECOND SECTION 
****************/
.section-two {
    background-color: rgb(0, 0, 32);
    margin: 20px 0;
    padding: 20px 10px;
}
.section-two h2 {
    color: rgb(255, 217, 0);
    margin-bottom: 20px;
}
.section-two h4 {
    color: white;
}
hr {
    margin: 30px auto;
    color: grey;
}


/*************** 
LAST SECTION 
****************/
footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

footer img {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

footer h3 {
    color: black;
    font-weight: 800;
}

.col {
    display: flex;
    align-items: center;
}
.details {
    margin: 13px 20px;
}
