* {
    margin: 0;
    height: auto;
    font-family: sans-serif;
}
body {
    margin: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.main-img {
    width: 450px;
    margin: 0 auto;
}

section h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 15px;
}
section p {
    margin-top: 15px;
    font-weight: 100;
    font-size: 16px;
    color: grey;
}
section button {
    background-color: rgb(224, 120, 50);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 16px;
    font-size: 16px;
}

.section-two {
    background-color: rgb(0, 0, 32);
    margin: 20px 0;
    padding: 20px 10px;
}
.section-two h2 {
    color: rgb(255, 217, 0);
    margin-bottom: 20px;
}
.section-two h4 {
    color: white;
}
hr {
    margin: 30px auto;
    color: grey;
}

footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    color: rgb(153, 153, 153);
}

footer img {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

footer h3 {
    color: black;
    font-weight: 800;
    margin: 13px 0;
}

.col {
    display: flex;
    align-items: center;
}
.details {
    margin-left: 30px;
}
